/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0 20%;
    font-family: 'Raleway', serif;
    font-size: 1em;
    line-height: 1.5em;


}

h1 {
    font-family: 'Montserrat', serif;
    width: 100%;
    margin: 0;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}


#logo {
    margin: 1em 35%;
    width: 40%;
    max-width: 250px;
}


/* ---------------------------------------------

                   NAV                          

----------------------------------------------- */

nav {
    width: 80%;
    margin: auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
    display: inline-block;
    text-transform: capitalize;
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
    color: #0074D9;
    font-weight: bold;
}

nav ul li a.router-link-active:link,
nav ul li a.router-link-active:visited,
nav ul li a.router-link-active:hover,
nav ul li a.router-link-active:active {
    text-decoration: none;
    color: black;
    background-color: #FFDC00;
    cursor: inherit;
}


/* ------------------------------
OTHER
--------------------------------- */

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;
    color: #0074D9;
    font-weight: bold;
}

button {
    background-color: #0074D9;
    font-size: 0.9em;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #000000;
}

footer p {
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0;
}