/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0 20%;
    font-family: 'Raleway', serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;

}

h1 {
    font-family: 'Montserrat', serif;
    width: 100%;
    margin: 0;
    font-size: 2em;
    padding: 0.5em;
}


#logo {
    margin: 1em 35%;
    width: 40%;
    max-width: 250px;
}

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 60%;
    margin-top: 1em;
}

footer p {
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0;
}

/* ---------------------------------------------

                   NAV                          

----------------------------------------------- */

nav {
    width: 100%;
    margin: auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
    display: inline-block;
    text-transform: capitalize;
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
    color: #0074D9;
    font-weight: bold;
}

nav ul li a.router-link-active:link,
nav ul li a.router-link-active:visited,
nav ul li a.router-link-active:hover,
nav ul li a.router-link-active:active {
    text-decoration: none;
    color: black;
    background-color: #FFDC00;
    cursor: inherit;
}

#loginLink,
#signupLink {
    background-color: #0074D9;
    padding: 0;

}

#loginLink {
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 3em;
}

#signupLink {
    padding-right: 20px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#loginLink a,
#signupLink a {
    background-color: #0074D9;
    color: #ffffff;
    margin: 0;
    padding: 10px 0;
}

#signupLink a::before {
    content: " | ";
    padding: 0.5em;
}




/* ------------------------------

            LINKS

--------------------------------- */

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;
    color: #0074D9;
    font-weight: bold;
}

.noUser {
    padding: 8em;
}

/* -----------------------------

            FORMS 

----------------------------- */

textarea,
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    font-size: 1.2em;
    border: 1px solid #dddddd;
}

label {
    display: block;
    text-align: left;
    margin: 20px 0 0;
}

label#forTitle,
label#forSKU,
label#forColor,
label#forLink,
label#forDescription {
    display: block;
    margin: 20px 0 0;
}

label#forCategoryPersonal {
    display: block;
    margin: 0;
}

.formHelp {
    color: #aaaaaa;
    text-align: left;
}

.formHelp:first-of-type {
    display: block;
    text-align: center;
}

.positiveFeedback {
    color: #2ecc40;
    font-weight: bold;
    margin: 1rem 0;
}

.negativeFeedback {
    color: #ff4136;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 1rem 0;
}

button {
    background-color: #0074D9;
    font-size: 0.9em;
    margin: 25px 0;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #dddddd;
}

/* ------------------------------

            POSTS DISPLAY

--------------------------------- */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.show-post {
    flex: 0 0 45%;
    margin: 15px 10px;
}

h3 {
    height: 2.2em;
    vertical-align: bottom;
}

.pic {
    width: 100%;
    max-width: 350px;
}